.ResponsiveNavbarMainDiv{
    height: 150px;
    display: none;
}
.responsiveNavBarLogo{
    width: 80px;
}

.offcanvasMenuLinks{
    text-decoration: none;
    text-align: center;
    color: rgb(93, 89, 89);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    
}

.offcanvasMenuLinks h3{
    margin-top: 12px;
    width: 280px;
    margin-left: 14%;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(93, 89, 89);

}

.offcanvasMenuLinks h3:hover{
    color:rgb(213, 192, 165);
    background-color: rgb(93, 89, 89);
    opacity: 0.5;
    justify-content: center;

}

.toggleBtn{
    background-color: rgb(41, 41, 42);
}

.menuTitle{
    position: relative;
    left: 38.5%;
    color:  rgb(93, 89, 89);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}

.offcanvasLogo{
    width: 100px;
    position: absolute;
    bottom: 0;
    margin-left: 33%;
}

@media only screen and (max-width: 1050px) {

    .ResponsiveNavbarMainDiv{
        display: block;
    }

}
